html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body { 
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden;
  font-family: 'Leto', sans-serif;
}

header {
  display: flex;
  justify-content: center;
  }

  h1 {
    color: #fff;
    font-size: 2.5rem;
    position: absolute;
    left: 100px;
  }
 
  
  .menu-bar,h1 {
    border-radius: 25px;
    height: fit-content;
    display: inline-flex;
    background-color: rgba(0, 0, 0, .4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);  
    align-items: center;
    padding: 0 10px;
    margin: 50px 0 0 0;

    li {
      list-style: none;
      color: white;
      font-family: sans-serif;
      font-size: 1.2rem;
      font-weight: bold;
      padding: 12px 16px;
      margin: 0 8px;
      position: relative;
      cursor: pointer;
      white-space: nowrap;

      &::before {
        content: " ";
        position: absolute;
        top: 0;
        left:0;
        height:100%;
        width: 100%;
        z-index:-1;
        transition: .2s;
        border-radius: 25px;
      }

        &:hover {
          &::before {
            background: linear-gradient(to bottom, #e8edec, #d2d1d3);
              box-shadow: 0px 3px 20px 0px black;
              transform: scale(1.2);
          }
          color: black;
      }
    }
  }
  
  b-content {
    position: relative;
    z-index: -1;
  }

.b-btn,
.b-button { 
  border:none;
  display:inline-block;
  outline:0;
  padding: 8px 16px;
  vertical-align: middle;
  overflow:hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap
}

.b-btn,
.b-button {
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none; 
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select:none;
} 

.b-disabled,
.b-btn:disabled,
.b-button:disabled {
  cursor:not-allowed;
  opacity:0.3
}

.b-disabled *,
:disabled *{
  pointer-events: none
}

.b-bar-block .b-dropdown-hover .b-button,
.b-bar-block .b-dropdown-click .b-button {
  width:100%;
  text-align: left;
  padding: 8px 16px
}

.b-button:hover {
  color: #000 !important;
  background-color: #ccc !important;
}

.b-content button {
  position: absolute;
  top: 32%;
}

.b-display-right {
  right:0
}

.b-display-left {
  left:0
}

.mySlides {
  width: 100vw;
  height: 100vh;
}

.navbar {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/* Main section */

main {

  background: url("../assets/images/Circuit\ Board\ \(1\).svg");
  
  
  .cards-section {
    padding: 150px 50px;
    display: grid;
    grid-template-columns: repeat(3, minmax(400px, 1fr));
    row-gap: 150px;
    justify-items: center;
    
    .card {
      width: 65%;
      display: flex;
      flex-direction: column;
      

    .card-images {
      width: 100%;
      object-fit: cover;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    .content {
      
      border-top: none;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 330px;
      font-size: 1.1rem;
      background: linear-gradient(rgb(0, 17, 17) 0%, rgb(25, 119, 106) 60%, rgb(97, 170, 166) , rgb(183, 224, 223));
      

      .name-div {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        
        h2 {
          width: 80%;
          color: #f0f3f2;
        }

        span {
          color: #f0f3f2;

          i:hover {
            cursor: pointer;
          }
        }
      }

      .likes {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
      }

      .description {
        color: rgb(225, 230, 228);
      }

      .comment {
        padding: 10px;
        font-size: 1.2rem;
        border-radius: 5px;
        border: none;
        background: transparent;
        box-shadow: 0 10px 15px rgb(55, 148, 143);
        color: #ffffff;
        font-weight: 900;

        &:hover {
          cursor: pointer;
          color: rgb(1, 41, 53);
          box-shadow: 0 0 10px rgb(175, 233, 229);
        }
      }
    }
   }
  }
}

footer {
  font-size: 1.5rem;
  font-weight: 900;
  color: #d2d1d3;
  padding: 20px 100px;
  background: rgb(38, 44, 42);
  a {
    text-decoration: none;
    color: rgb(55, 148, 143);    
  }
}


.popup {
  width: 85vw;
  height: 90vh;
  padding: 30px 50px;
  background-color: #2e3130;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  border-radius: 20px;
  overflow-y: scroll;
  color: #d2d1d3;

  .exit {
    background: transparent;
    border: none;
    align-self: flex-end;
    font-size: 2rem;
    color: #d2d1d3;

    &:hover {
      cursor: pointer;
    }
  }

  img {
    width: 80%;
    border-radius: 20px;
  }

  h2 {
    font-size: 2.8rem;
  }

  p {
    font-size: 1.5rem;

  }

  h3 {
    font-size: 1.6rem;
  }

  ul > li {
    list-style: none;
    font-style: italic;
    font-size: 1.2rem;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 50%;

    h4 {
      font-size: 1.5rem;
    }

    input[type="text"], textarea {
      width: 100%;
      font-size: 1.2rem;
      padding: 10px;
      border-radius: 10px;
      border: none;

      &:focus {
        outline: none;
      }
    }

    textarea {
      height: 150px;
    }

    input[type="button"] {
      align-self: flex-start;
      font-size: 1.3rem;
      font-weight: 900;
      border: none;
      padding: 10px;
      border-radius: 8px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.no-scroll {
  overflow: hidden;
}

.blur {
  filter: blur(5px);
}




